-e git+https://github.com/open-contracting/extension_registry.py@8b06b6826c57d67ddddd38d062c7d52cfb065530#egg=ocdsextensionregistry
-e git+https://github.com/open-contracting/documentation-support.git@b4f87383702a97d130b71e183497be9090083451#egg=ocdsdocumentationsupport
-e git+https://github.com/rtfd/recommonmark.git@81d7c6f7b37981ac22571dd91a7cc9d24c3e66a1#egg=recommonmark
## The following requirements were added by pip freeze:
certifi==2018.4.16
chardet==3.0.4
idna==2.7
requests==2.19.1
urllib3==1.23
