# The next commit causes "'any' reference target not found" errors
-e git+https://github.com/rtfd/recommonmark.git@81d7c6f7b37981ac22571dd91a7cc9d24c3e66a1#egg=recommonmark

-e git+https://github.com/abendleiter/python-transifex.git@2e7de28c33e98a983d0a13f2cb020b548c8f5050#egg=python-transifex
